.button {
    width: 60px;
    height: 30px;
    margin: 0 6px;
    border: none;
    border-radius: 5px;
    background-color: rgba(244, 164, 96, 0.5);
    color: rgb(109, 104, 104);
    cursor: pointer;
  }